initialize() 
{
         initializeMutationRate(1e-7);
         initializeMutationType("m1", 0.5, "f", 0.0);
         initializeMutationType("m2", 0.5, "f", 0.1);  // introduced mutation
         initializeGenomicElementType("g1", m1, 1.0);
         initializeGenomicElement(g1, 0, 100000);
         initializeRecombinationRate(0);
         m1.mutationStackPolicy = "f";
}
1 early() 
{
         // save this run's identifier, used to save and restore
         defineConstant("simID", getSeed());
         sim.addSubpop("p1", 1000);
}
// burn in till 1000
1 late() 
{
        // save the state of the simulation
        sim.outputFull(tempdir() + "slim_" + simID + ".txt");
        // introduce the sweep mutation
        target = sample(p1.genomes, 1);
        target.addNewDrawnMutation(m2, 10000);
}
1:10000 late() 
{
        if (sim.countOfMutationsOfType(m2) == 0)
        {
          fixed = (sum(sim.substitutions.mutationType == m2) == 1);
          if (fixed) 
          {
            cat(simID + ": FIXED\n");
            cat("Sample output \n");
            p1.outputSample(20);
            //cat("Now full output \n");
            //sim.outputFull();
            // sample 20 outputs genomes
            sim.simulationFinished();
          }
          else
          {
            cat(simID + ": LOST – RESTARTING\n");
            // go back to tick 1000
            sim.readFromPopulationFile(tempdir() + "slim_" + simID + ".txt");
            // start a newly seeded run
            setSeed(rdunif(1, 0, asInteger(2^62) - 1));
            // re-introduce the sweep mutation
            target = sample(p1.genomes, 1);
            target.addNewDrawnMutation(m2, 10000);
          }
        } 
}